[submodule "smartcontracts/MusicNFT/lib/forge-std"]
	path = smartcontracts/MusicNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smartcontracts/MusicNFT/lib/openzeppelin-contracts"]
	path = smartcontracts/MusicNFT/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
